<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/3421528F5E3679CEA7D89FE51BE6DE6904289364AD148688A2E236A340144BF6/scale?width=1200&amp;aspectRatio=1.78&amp;format=webp"
      alt=""
      srcset=""
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident explicabo similique quos! Dicta et, fugiat odit molestias quos aut obcaecati dolore voluptatibus. Sed exercitationem omnis repellendus. Aspernatur labore velit et!
    </a>
    </p>
  </div>
</div>
